/* =============== *\
  CSS VARIABLES 
\* =============== */
:root{
    /*Colors*/
  
    --primary-color: #e53939;
    --title-color: #ffffff;
    --text-color: #ffffff;
    --bg-color: #000000;
    --bg-color-alt: #30353b;
    --container-color: #1d222a;
    --border-color: #a4a6a8;
    --first-gradient: linear-gradient(
      0deg,
      var(--bg-color-alt) 0%,
      var(--bg-color) 100%
    ); 
  
    /*Typography*/
    --body-font: 'Montserrat', sans-serif;
    --second-font: 'Roboto', sans-serif;
  
    --biggest-font-size: 90px;
    --h1-font-size: 44px;
    --h2-font-size: 35px;
    --h3-font-size: 28px;
    --h4-font-size: 24px;
    --h5-font-size: 22px;
    --largest-font-size: 21px;
    --larger-font-size: 20px;
    --large-font-size: 18px;
    --normal-font-size: 16px;
    --small-font-size: 15px;
    --smaller-font-size: 14px;
}

/* =============== *\
  Custom CSS Reset
\* =============== */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--bg-color);
  font-family: var(--body-font);
  color: var(--text-color);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

ul, ol {
  list-style-type: none;
  padding: 0;
}

input, button, textarea {
  font: inherit;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

p {
  overflow-wrap: break-word;
  font-family: var(--second-font);
}

/* =============== *\
  GLOBAL
\* =============== */

.section-title {
  color: var(--primary-color);
  font-size: var(--h2-font-size);
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 5%;
}

section.about-section {
  padding-block: 4rem;
}

p {
  text-align: justify;
}

p span {
  color: var(--primary-color);
  font-weight: 700;
}

/* =============== *\
  Header/ Intro
\* =============== */

#site-logo {
  max-width: 315px;
}
s
.nav-item a:hover {
  color: var(--primary-color);
  text-underline-offset: 15px;
  text-decoration: underline;
  transition: color 300ms linear;
}

.intro-section {
  background: url('assets/banner-intro.png') no-repeat top / cover fixed;
  height: 600px;
}

.intro-section .container {
  padding-bottom: 30px;
}

.intro-section p {
  padding-top: 1rem;
  text-shadow: 0.5px 0.5px #000;
  font-size: var(--largest-font-size);
}

.intro-section::after {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 1px;
  height: 150px;
  bottom: -30px;
  left: 50%;
  display: block;
}

/* =============== *\
  About
\* =============== */
.about-icons img {
  padding: 10px;
  margin-block: 8px;
  width: 80%;
  transition: all 0.3s ease-in-out;
}

.about-icons img:hover{
  cursor: pointer;
  transform: scale(1.3);
  /*box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);*/
}