<section
  class="container home-section flex-grow-1"
  data-aos="fade-down"
  data-aos-easing="ease-out-cubic"
  data-aos-duration="1500"
>
  <div
    class="text-left text-introduction"
    data-aos="fade-left"
    data-aos-duration="3000"
    data-aos-easing="linear"
  >
    <h1 class="display-1">
      <strong>Thomas Edson</strong>
    </h1>
    <h2>Desenvolvedor <strong>Front End</strong></h2>
    <div class="mt-3"></div>
    <p class="mt-3">
      Transformo ideias em <strong>Aplicações Web</strong> funcionais
    </p>
    <div class="social-icons">
      <a [href]="links[0]">
        <img
          src="../../../../assets/home/linkedin-icon.png"
          alt="ícone do linkedin"
        />
      </a>
      <a [href]="links[1]">
        <img
          src="../../../../assets/home/github-icon.png"
          alt="ícone do github"
        />
      </a>
      <a [href]="links[2]">
        <img
          src="../../../../assets/home/gmail-icon.png"
          alt="ícone do gmail"
        />
      </a>
    </div>
  </div>
  <div class="img-container">
    <img
      data-aos="fade-top"
      data-aos-duration="3000"
      data-aos-easing="linear"
      class="circle-img"
      src="../../../../assets/circle-img.png"
      alt="imagem de um círculo"
    />
    <img
      data-aos="fade-up"
      data-aos-duration="3000"
      data-aos-easing="linear"
      class="portrait-img"
      src="../../../../assets/eu.png"
      alt="foto de thomas"
    />
  </div>
</section>
