@import "../../../scss/colors.scss";
@import "../../../scss/animations.scss";

.text-introduction {
  h2 {
    animation: shakeRight 1.5s alternate infinite;
  }

  // linha divisória
  div {
    width: 80%;
    height: 1px;
    background-color: white;
    display: block;
  }

  p {
    font-size: 20px;
  }

  .social-icons {
    img {
      margin: 16px 20px 0 0;
      width: 40px;
    }
  }
}

.circle-img {
  position: absolute;
  top: 60%;

  left: 50%;
  transform: translate(-50%, -50%);
  height: 90%;
  max-width: 95%;
  z-index: 1;
  animation: rotate 10s linear infinite;
}

strong {
  color: $secondary-color;
  font-weight: bold;
}
