$section-height-mobile: calc(100vh - 20px);
$section-height: calc(100vh - 100px);
$section-background-color: rgba(#000000, 0.5);

@function rem-calc($size) {
  $value: calc($size / 16);

  @return #{$value}rem;
}
