@import "./scss/colors.scss";

.header {
  display: block;
  height: 80px;
}

@media (max-height: 800px) {
  .body {
    overflow: hidden;
  }
}

@media (max-width: 768px) {
  .header {
    height: 20px;
  }
}
