<section
  class="container education-section"
  data-aos="fade-down"
  data-aos-easing="ease-out-cubic"
  data-aos-duration="1500"
>
  <div class="certifications-container">
    <h1 data-aos="fade-left" data-aos-duration="3000" class="mb-4">
      Certificações
    </h1>
    <div
      class="galleria-container"
      data-aos="fade-right"
      data-aos-duration="3000"
    >
      <p-galleria
        class="img-fluid"
        [value]="images"
        [responsiveOptions]="responsiveOptions"
        [containerStyle]="{ 'max-width': '640px' }"
        [numVisible]="5"
      >
        <ng-template pTemplate="item" let-item>
          <img
            class="img-front"
            [src]="item.itemImageSrc"
            [alt]="item.alt"
            style="width: 100%"
          />
        </ng-template>
        <ng-template pTemplate="thumbnail" let-item>
          <div class="grid grid-nogutter justify-content-center">
            <img
              [alt]="item.alt"
              class="thumbnail"
              [src]="item.thumbnailImageSrc"
            />
          </div>
        </ng-template>
      </p-galleria>
    </div>
  </div>
</section>
