<nav class="navbar">
  <ul class="nav d-flex flex-direction-column">
    <li routerLinkActive="current-router" routerLink="/motivation">
      <a>Motivações</a>
    </li>
    <li routerLinkActive="current-router" routerLink="/about"><a>Sobre</a></li>
    <li
      routerLinkActive="current-router"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLink=""
    >
      <img
        class="logo-img"
        src="../../../assets/favicon.png"
        alt="imagem da logo"
      />
    </li>
    <li routerLinkActive="current-router" routerLink="/intersts">
      <a>Interesses</a>
    </li>
    <li routerLinkActive="current-router" routerLink="/education">
      <a>Formações</a>
    </li>
  </ul>
</nav>

<button
  (click)="toggler()"
  class="btn"
  [ngClass]="{ 'toggle-btn': !isToggle, 'close-btn': isToggle }"
></button>
<div [ngClass]="{ 'menu-mobile': isToggle }">
  <ul
    class="menu-list"
    data-aos="zoom-out"
    data-aos-easing="ease-out-cubic"
    data-aos-duration="300"
    *ngIf="isToggle"
  >
    <li (click)="toggler()" routerLink="">Início</li>
    <li (click)="toggler()" routerLink="/motivation">Motivações</li>
    <li (click)="toggler()" routerLink="/about">Sobre</li>
    <li (click)="toggler()" routerLink="/intersts">Interesses</li>
    <li (click)="toggler()" routerLink="/education">Formações</li>
  </ul>
</div>
