<nav class="navbar d-flex align-items-center justify-content-center">
  <ul class="nav d-flex flex-direction-column mt-2">
    <li routerLink="/motivation"><a>Motivações</a></li>
    <li routerLink="/about"><a>Sobre</a></li>
    <li routerLink="/">
      <img
        class="logo-img"
        src="../../../assets/favicon.png"
        alt="imagem da logo"
      />
    </li>
    <li routerLink="/intersts"><a>Interesses</a></li>
    <li routerLink="/coders-users"><a>Usuários Coders</a></li>
  </ul>
</nav>
