@import "../../../scss/variables.scss";
@import "../../../scss/animations.scss";

.interests-section {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 95vw;

  color: white;
  border-radius: 30px;
  background-color: $section-background-color;
}

.content-box {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  width: 35%;

  .box {
    width: 23%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;

    img {
      width: 80%;
      height: 80%;
    }
  }
}

// .content-hover {
//   width: 40%;
// }

.content-hover__img {
  img {
    border-radius: 30px;
  }
}
