@import "../../../scss/variables.scss";
h1 {
  color: red;
}

.about-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

  border-radius: 30px;

  background-color: $section-background-color;

  color: white;
}
