<section
  class="container about-section"
  data-aos="fade-down"
  data-aos-duration="1500"
>
  <h1 class="mt-4">Quem sou?</h1>
  <div class="info-container">
    <article class="about-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ratione,
      eligendi saepe obcaecati ducimus fugiat et quas. Fuga fugiat numquam
      explicabo nulla assumenda quos, placeat beatae dolor harum quasi itaque!
      Unde, nisi earum ratione explicabo aliquam a alias itaque magnam, pariatur
      ipsa quibusdam animi obcaecati reprehenderit dolor odio architecto.
      Exercitationem.
    </article>

    <div class="skills-container">
      <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
    </div>
  </div>
  <div class="timeline-container mt-5 w-100 gap-6">
    <h1 class="text-center">Timeline</h1>
    <p-timeline align="alternate" class="w-full md:w-20rem" [value]="events">
      <ng-template pTemplate="content" let-event>
        <p class="p-text-secondary">
          {{ event.date }}
        </p>
      </ng-template>
      <ng-template class="text-status" pTemplate="opposite" let-event>
        {{ event.status }}
      </ng-template>
    </p-timeline>
  </div>
</section>
