<section
  class="container about-section"
  data-aos="fade-down"
  data-aos-duration="1500"
>
  <h1 class="mt-4">Quem sou?</h1>
  <div class="info-container" data-aos="fade-right" data-aos-duration="3000">
    <article class="about-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ratione,
      eligendi saepe obcaecati ducimus fugiat et quas. Fuga fugiat numquam
      explicabo nulla assumenda quos, placeat beatae dolor harum quasi itaque!
      Unde, nisi earum ratione explicabo aliquam a alias itaque magnam, pariatur
      ipsa quibusdam animi obcaecati reprehenderit dolor odio architecto.
      Exercitationem.
    </article>

    <div
      class="skills-container"
      data-aos="fade-up-left"
      data-aos-duration="3000"
    >
      <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
    </div>
  </div>
  <div class="timeline-container w-100 flex flex-wrap gap-6">
    <h1 class="text-center mb-5">Timeline</h1>
    <p-timeline class="w-full md:w-20rem" [value]="events">
      <ng-template pTemplate="content" let-event>
        <small class="p-text-secondary">
          {{ event.date }}
        </small>
      </ng-template>
      <ng-template class="text-status" pTemplate="opposite" let-event>
        {{ event.status }}
      </ng-template>
    </p-timeline>
  </div>
</section>
