//chartjs não aceita valores relativos
@media (min-width: 270px) {
  .about-section {
    width: 100%;
  }

  .info-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    text-align: center;
  }

  .about-text {
    max-height: 25vh;
    overflow: auto;
    width: 100%;
    font-size: 1rem;
    padding: 10px;
  }

  .timeline-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    height: 70%;
    //
    margin-top: 5%;
  }
}

@media (min-width: 375px) {
  .about-text {
    box-shadow: inset 0px -66px 58px -41px rgba(17, 16, 16, 0.8);
    font-size: 1.3rem;
  }
}
@media (min-width: 768px) {
  .info-container {
    display: flex;
    flex-direction: row;
  }
  .about-text {
    width: 40%;
  }

  .external-content {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 992px) {
  .about-section {
    h1 {
      margin-top: 48px;
    }
  }
  .skills-container {
    width: 40%;
  }
  p-chart {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .timeline-container {
    //
    margin-top: 0;
  }
}
