@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Lilita+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #ffffff;
    --cor-terciaria: #e53939;
    --cor-hover: #205375;

    --font-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
    --font-terciaria: 'Lilita One', cursive;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }

*{
    margin: 0;
    padding: 0;
    text-decoration: none;

}

body{
    box-sizing: border-box;
    width: 100%;
    color: var(--cor-secundaria);
    font-family: var(--font-primaria);
    background-image: linear-gradient(to top, #161515, #000000);
}

header{
}

header nav{
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    height: 150px;
}

header a{
    font-family: var(--font-primaria);
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--cor-terciaria);
}

main{
    padding: 5%;
    margin: auto;
}

article{
    text-align: center;
}

h1{
    font-size: 2em;
    padding-bottom: 1em;
}

p{
    font-family: var(--font-primaria);
    font-size: 1em;
    text-align: justify;
    margin: 0 3em 0 3em;
    text-indent: 10%;
    padding-bottom: 1em;
}

strong{
    color: var(--cor-terciaria);
    font-size: 1.1em;
}

.tecnologias{
    padding: 5em 0 7em 0;
}

.tecnologias-logo{
    border: 2px dashed var(--cor-terciaria);
    border-radius: 10px;
}

.foto-perfil{
    border-radius: 50%;
    width: 30%;
}

footer{
    background-color: #e53939;
}

footer p{
    text-align: center;
}