* {
  color: white;
}

@keyframes floatY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: red rgb(0, 0, 0);
}

.text-container {
  width: 40%;

  // margin-top: -120px;
  p {
    overflow-y: scroll;
    max-height: 40vh;
  }
}

strong {
  color: red;
}
@media (min-width: 270px) {
  h1 {
    font-weight: 800;
  }

  .motivation-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

    border-radius: 30px;

    background-color: rgba($color: #000000, $alpha: 0.5);
    height: 100vh;
  }

  .text-container {
    width: 100%;
    margin-top: 15px;
    text-align: center;

    p {
      box-shadow: inset 0px -66px 58px -41px rgba(17, 16, 16, 0.8);
      padding: 10px;
      font-style: italic;
      overflow-y: scroll;
      max-height: 25vh;
      font-size: 1.3rem;
      font-weight: 100;
    }
  }

  .image-container {
    width: auto;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

    .motivation-img {
      // 100% de 40% do parent
      height: 100%;
      width: 100%;
      animation: floatY 3s ease-in-out infinite;
    }
  }
}

@media (min-width: 768px) {
  .text-container {
    width: 70%;
    h1 {
      font-size: auto;
    }
    p {
      margin-top: 20px;
      font-size: 1.5rem;
    }
  }
}

@media (min-width: 992px) {
  .text-container {
    width: 50%;
  }
  .motivation-section {
    width: 90vw;
  }
}
