* {
  color: white;
}

@keyframes floatY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.text-container {
  width: 40%;

  // margin-top: -120px;

  p {
    overflow-y: scroll;
    max-height: 40vh;
  }
}

strong {
  color: red;
}
