<section
  class="container motivation-section"
  data-aos="flip-right"
  data-aos-easing="ease-out-cubic"
  data-aos-duration="2000"
>
  <div
    class="text-container"
    data-aos="fade-left"
    data-aos-duration="3000"
    data-aos-easing="linear"
  >
    <h1>Por que juntar-me ao <strong>Código Certo</strong>?</h1>
    <hr />
    <p>
      O desenvolvimento está muito além do que sentar-se à frente de um
      computador e passar horas estudando, aprendendo tudo sobre todas as
      tecnologias e linguagens possíveis. A vivência com uma equipe de
      desenvolvedores, seja qual for o nível de conhecimento de cada um, agrega
      valor inestimável à experiência de qualquer profissional. Trabalhar em
      equipe permite uma diversidade de perspectivas que enriquecem o processo
      de criação e inovação. Desenvolvedores seniores podem compartilhar suas
      experiências e melhores práticas, enquanto os desenvolvedores juniores
      podem trazer novas ideias e abordagens frescas para resolver problemas.
      Acredito que o Código Certo proporciona exatamente esse tipo de ambiente
      colaborativo e enriquecedor. A oportunidade de trabalhar com pessoas de
      diversos níveis de experiência me permitirá não apenas compartilhar o meu
      conhecimento, como também aprender com as experiências e perspectivas dos
      outros membros. Participar desta comunidade será uma oportunidade para
      crescer como profissional de forma significativa.
    </p>
  </div>
  <div
    class="image-container"
    data-aos="fade-right"
    data-aos-duration="3000"
    data-aos-easing="linear"
  >
    <img
      class="motivation-img"
      src="../../../../assets/motivations/Tecnologia-Ci-delivery.svg"
      alt="imagem ci e cd"
    />
  </div>
</section>
